[Unit]
Description=SSH tunnel

[Service]
User=mai-portfwd
Group=nogroup
Type=forking
Restart=always
RestartSec=10
ExecStart=/usr/bin/ruby ~/lib/app.rb ~/.ssh

# Note "~/.ssh" and ~/lib will be replaced.

[Install]
WantedBy = multi-user.target
